.post-section {
    margin-top: 4rem;
    /* display: flex;
    justify-content: center; */
}

.post-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--color-medium-blue);
    border-radius: 20px;
}

.post-footer {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
}

.post-infors span:not(:last-child) {
    margin-right: 1rem;
    /* text-decoration: underline; */
}

.post-author {
    font-size: large;
}

.post-edit-delete {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;

}

.post-edit-delete span:not(:last-child) {
    margin-right: 1rem;
}


.delete-question {
    color: var(--color-light-yellow)
}

form.edit-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

form.edit-form textarea.content {
    background-color: var(--color-light-blue);
    color: black;
}

form.edit-form .btn-container {
    align-self: flex-end;
}